.odd {
  background-color: #ffb6c1;
  font-family: Verdan, "DejaVu Sans", sans-serif;
}

#div1 {
  color: #0000ff;
  font-size: 36px;
}
.large {
  font-size: 24px;
}
#div2 {
  background-color: #90ee90;
  font-weight: bold;
}
