:root {
  --font-primary: "Inter";
  --font-secondary: "Roboto";
  --font-mono: "Roboto Mono";

  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-primary);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(228, 223, 223);
}

& svg {
  fill: currentColor;
  width: 22px;
  height: 22px;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template: auto 1fr / 260px 1fr;
}

.text-small {
  font-size: 0.85rem;
}
.text-dim {
  color: rgb(90, 89, 89);
}

.header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 20px;
  padding: 16px 20px;
  position: sticky;
  top: 0;

  & .search {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  & .user-info {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 24px;
    color: rgb(39, 38, 38);

    &:nth-child(2) {
      justify-self: end;
    }
  }

  & .user-actions {
    justify-self: end;
    align-self: center;

    & .action-btn + .action-btn {
      margin-left: 18px;
    }
  }
}

.search-input {
  border: none;
  background-color: rgb(228, 223, 223);
  padding: 8px 16px;
  width: 80%;
  max-width: 800px;
  border-radius: 16px;
}

.action-btn {
  color: #fff;
  width: 95px;
  padding: 8px 24px;
  border-radius: 24px;
  font-weight: 600;
  background-color: rgb(46, 123, 224);
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .action-btn {
    width: 60px;
    padding: 4px 12px;
    font-size: 0.65rem;
  }
}

.user-avatar {
  border-radius: 50%;
}

.navbar {
  background-color: rgb(46, 123, 224);
  grid-row: 1 / span 2;
  color: #faeeee;
  padding: 0 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
  position: sticky;
  top: 0;

  & h2 {
    display: flex;
    align-items: center;
    gap: 6px;
    & svg {
      width: 36px;
      height: 36px;
    }
  }
}

.nav-items {
  font-weight: 600;
  font-size: 1.125rem;
  & li {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &:first-of-type {
    margin: 36px 0;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 320px;
  padding: 12px;

  & .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    grid-auto-rows: 180px;
  }

  & .announce-trending {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-content: start;
    gap: 20px;
  }
}

.projects-container,
.announcements-container,
.trending-container {
  padding: 0 12px;
}

.project-card,
.announcements,
.trending {
  font-family: var(--font-secondary);
  border-left: 6px solid rgb(235, 212, 8);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 20px;

  & h4,
  p {
    margin: 3px 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    & svg {
      cursor: pointer;
    }
  }
}

.announcements,
.trending {
  border: none;
  gap: 10px;

  & .announcement-desc + .announcement-desc {
    border-top: 1px solid rgb(185, 185, 185);
    padding-top: 10px;
  }

  & .trending-channel {
    display: flex;
    gap: 16px;
    align-items: center;

    & + .trending-channel {
      margin-top: 10px;
    }
  }
}

.card-description {
  overflow: hidden;
}

/*
  TODO: make navbar sticky  
*/
