body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 8px 24px;
  height: 70px;
  flex-shrink: 0;
}

footer {
  color: #fff;
  justify-content: center;
}
header > .logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

header > ul > li,
.hero > div > p {
  font-size: 18px;
  color: #e5e7eb;
}

main {
  flex-grow: 1;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 8px 120px;
  min-height: 450px;
  align-items: center;
  gap: 28px;
}

.hero > div > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
:is(.hero, .signup-container) > div > button {
  color: #f9faf8;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 10px;
  background-color: #3882f6;
}

.info1,
.info2 {
  min-height: 450px;
}

.info1 {
  display: flex;
  flex-direction: column;
}

.info1 > h2 {
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 48px;
}

.cards > div {
  width: 150px;
}

.card-image {
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.card-caption {
  text-align: center;
  font-weight: 300;
  color: #1f2937;
}

.info2 {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  max-width: 750px;
}

.quote-author {
  font-size: 14px;
  font-weight: 800;
  text-align: right;
  font-style: normal;
}

.info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.signup-container {
  display: flex;
  flex-basis: 850px;
  background-color: #3882f6;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
}

.signup-invite,
.invite-caption {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.invite-caption {
  font-size: 14px;
  font-weight: 400;
}

.hero-image {
  background-color: rgba(211, 211, 211, 0.589);
  color: #fff;
  width: 480px;
  height: 308px;
  display: flex;
  align-items: center;
  text-align: center;
}
